@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --primary-color: #daa520;
}

body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Righteous", cursive;
}

.nav-bar {
  margin: 0;
  padding: 0.6em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Zen Dots", cursive;
  font-size: 1.5em;
  color: #daa520;
}

.logo span {
  color: rgb(51, 51, 51);
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu li {
  list-style-type: none;
  cursor: pointer;
  margin: 0.2em 0.2em;
  padding: 2px;
  margin-right: 1em;
}

.menu span {
  color: rgb(0, 0, 0);
}

.full-offer {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 0;
}

.full-offer li {
  list-style-type: none;
  background: rgb(235, 133, 255);
  background: rgb(246, 197, 255);
  background: linear-gradient(
    45deg,
    rgba(246, 197, 255, 1) 30%,
    rgba(160, 159, 255, 1) 70%
  );
  margin: 1.2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.full-offer h1 {
  text-align: center;
  font-size: 1.8em;
  background-color: rgb(205, 162, 253);
  border-radius: 50px;
  margin: -19px 40px 10px 40px;
  color: rgb(255, 255, 255);
}

.full-offer h2 {
  text-align: center;
  font-size: 1em;
  margin: 5px;
  color: rgb(255, 255, 255);
}

.full-offer button {
  border: none;
  background-color: #ffffff;
  width: 50%;
  border-radius: 50px;
  padding: 9px;
  margin: 10px auto 10px auto;
}

.full-offer a {
  font-weight: bold;
  font-family: "Righteous", cursive;
  text-decoration: none;
  color: black;
}
